html {
    font-size: 125%;
    /* 20÷16=125% min-font-size:12px bug*/
}

@media only screen and (min-width: 481px) {
    html {
        font-size: 188%!important;
        /* 30.08÷16=188% */
    }
}

@media only screen and (min-width: 561px) {
    html {
        font-size: 218%!important;
        /* 38.88÷16=218% */
    }
}

@media only screen and (min-width: 641px) {
    html {
        font-size: 250%!important;
        /* 40÷16=250% */
    }
}

body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font: inherit;
    vertical-align: baseline;
    font-family: "Microsoft YaHei"
}

body {
    font-family: "Microsoft YaHei";
    font-size: 0.7rem;
    color: #333;
    line-height: 0.7rem;
    width: 100%;
}

em {
    font-style: normal
}

li {
    list-style: none
}

a {
    text-decoration: none;
    outline: 0;
    color: #333;
}

img {
    border: none;
    vertical-align: top;
}

table {
    border-collapse: collapse;
}

input, textarea {
    font-family: "Microsoft YaHei";
    padding: 0;
}

textarea {
    resize: none;
    overflow: auto;
}

textarea:focus {
    outline: none;
}

input:focus {
    outline: none;
}

.clear {
    zoom: 1
}

.clear:after {
    content: "";
    display: block;
    clear: both;
}

.fl {
    float: left
}

.fr {
    float: right
}


/*reset*/


/*********************************************************************
                              主页面
**********************************************************************/

header {
    background: #19b5ff;
    width: 100%;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
    position: relative;
}

header ._left {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

header ._left img {
    height: 1rem;
    margin: 0.75rem 0 0 0.6rem;
}

header ._mid {
    height: 2.5rem;
    overflow: hidden;
}

header ._mid ul {
    display: inline-block;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 0.45rem;
}

header ._mid ul li {
    float: left;
    border: 1px solid #fff;
    font-size: 0.75rem;
}

header ._mid ul li:nth-child(1) {
    color: #19b5ff;
    height: 1.4rem;
    line-height: 1.4rem;
    padding: 0 1.1rem;
    background: #fff;
    border-radius: 0.25rem 0 0 0.25rem;
}

header ._mid ul li:nth-child(2) {
    color: #fff;
    height: 1.4rem;
    line-height: 1.4rem;
    padding: 0 0.75rem;
    background: #19b5ff;
    border-radius: 0 0.25rem 0.25rem 0;
}

header ._right {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

header ._right img {
    height: 1rem;
    margin: 0.75rem 0.5rem 0 0;
}

header ._right span {
    padding-right: 0.5rem;
    font-size: 0.85rem;
}

.main_login {



}

.main_login .logo {
    overflow: hidden;
}

.main_login .logo img {
    display: block;
    width: 50%;
    margin: 3rem auto;
}

@media(min-width: 320px) and (max-width: 350px) {
    .main_login {
        width: 100%;
        /*height:40rem;*/
    }
    .main_login .logo img {
        display: block;
        width: 50%;
        margin: 2rem auto 1.6rem auto;
    }
}

@media(min-width: 350px) and (max-width: 413px) {
    .main_login {
        width: 100%;
        /*height:40rem;*/
    }
}

@media(min-width: 414px) {
    .main_login {
        width: 100%;
        /*height:40rem;*/
    }
}

.main_login .user {
    height: 2rem;
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}

.main_login .user .pic {
    float: left;
    height: 2rem;
    padding: 0 0.4rem 0 0.3rem;
}

.main_login .user .pic img {
    display: block;
    width: 0.8rem;
    margin-top: 0.5rem;
}

.main_login .user input {
    float: left;
    border: none;
    font-size: 0.7rem;
    color: #ebebeb;
    background: none;
    line-height: 2rem;
}

.main_login .password {
    height: 2rem;
    width: 80%;
    margin: 0.5rem auto 0 auto;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}

.main_login .password .pic {
    float: left;
    height: 2rem;
    padding: 0 0.4rem 0 0.3rem;
}

.main_login .password .pic img {
    display: block;
    width: 0.8rem;
    margin-top: 0.5rem;
}

.main_login .password input {
    float: left;
    border: none;
    font-size: 0.7rem;
    color: #d8d8da;
    background: none;
    line-height: 2rem;
}

.main_login .password input::-webkit-input-placeholder, .main_login .user input::-webkit-input-placeholder {
    color: #d8d8da !important;
    /*WebKit browsers*/
    font-family: "Microsoft YaHei"
}

.main_login .password input::-moz-placeholder, .main_login .user input::-moz-input-placeholder {
    color: #d8d8da !important;
    /*Mozilla Firefox 4 to 18 */
    font-family: "Microsoft YaHei"
}

.main_login .password input::-moz-placeholder, .main_login .user input::-moz-input-placeholder {
    color: #d8d8da !important;
    /*Mozilla Firefox 19+ */
    font-family: "Microsoft YaHei"
}

.main_login .password input::-ms-input-placeholder, .main_login .user input::-ms-input-placeholder {
    color: #d8d8da !important;
    /*Internet Explorer 10+*/
    font-family: "Microsoft YaHei"
}

.main_login .password span {
    float: right;
    font-size: 0.6rem;
    color: #d8d8da;
    line-height: 2.2rem;
}

.main_login .login {
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.9rem;
    color: #37b4f1;
    border: 1px solid #37b4f1;
    background: none;
    margin: 1.6rem auto 1rem auto;
    width: 80%;
}

.main_login .register {
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.9rem;
    color: #fff;
    border: 1px solid #37b4f1;
    background: #37b4f1;
    margin: 1rem auto 2rem auto;
    width: 80%;
}

@media(min-width: 320px) and (max-width: 374px) {
    .main_login .login {
        height: 2rem;
        line-height: 2rem;
        margin: 1.2rem auto 1rem auto;
    }
    .main_login .register {
        height: 2rem;
        line-height: 2rem;
        margin: 0.8rem auto 1.6rem auto;
    }
}

.main_login footer .title {
    text-align: center;
    color: #cecece;
    margin-bottom: 1.2rem;
}

@media(min-width: 414px) {
    .main_login .register {
        margin: 1rem auto 3rem auto;
    }
    .main_login footer .title {
        margin-bottom: 1.6rem;
    }
}

.main_login footer ul {
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.main_login footer ul li {
    float: left;
    width: 33.33333%;
    text-align: center;
    color: #fff;
    line-height: 1.6rem;
}

.main_login footer ul li img {
    display: block;
    width: 2.2rem;
    height: 2.2rem;
    margin: 0 auto;
}


/*********************************************************************
                            忘记密码
**********************************************************************/

.main_login_forget {
    background: url(../../image/short/login/background.jpg) no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media(min-width: 320px) and (max-width: 350px) {
    .main_login_forget {
        width: 100%;
        height: 28rem;
    }
}

@media(min-width: 350px) and (max-width: 413px) {
    .main_login_forget {
        width: 100%;
        height: 32rem;
    }
}

@media(min-width: 414px) {
    .main_login_forget {
        width: 100%;
        height: 36rem;
    }
}

.main_login_forget .user, .main_login_forget .code, .main_login_forget .n_password, .main_login_forget .password {
    height: 2rem;
    width: 80%;
    margin: 0.6rem auto;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}

.main_login_forget .user {
    margin-top: 4rem;
}

.main_login_forget .password {
    margin-bottom: 1.6rem;
}

.main_login_forget .user .pic, .main_login_forget .code .pic, .main_login_forget .n_password .pic, .main_login_forget .password .pic {
    float: left;
    height: 2rem;
    padding: 0 0.4rem 0 0.3rem;
}

.main_login_forget .user .pic img, .main_login_forget .code .pic img, .main_login_forget .n_password .pic img, .main_login_forget .password .pic img {
    display: block;
    width: 0.8rem;
    margin-top: 0.5rem;
}

.main_login_forget .user input, .main_login_forget .code input, .main_login_forget .n_password input, .main_login_forget .password input {
    float: left;
    border: none;
    font-size: 0.7rem;
    color: #ebebeb;
    background: none;
    line-height: 2rem;
    width: 45%;
}

.main_login_forget .password input::-webkit-input-placeholder, .main_login_forget .user input::-webkit-input-placeholder, .main_login_forget .n_password input::-webkit-input-placeholder, .main_login_forget .code input::-webkit-input-placeholder {
    color: #d8d8da !important;
    /*WebKit browsers*/
    font-family: "Microsoft YaHei"
}

.main_login_forget .password input::-moz-placeholder, .main_login_forget .user input::-moz-input-placeholder, .main_login_forget .n_password input::-moz-placeholder, .main_login_forget .code input::-moz-input-placeholder {
    color: #d8d8da !important;
    /*Mozilla Firefox 4 to 18 */
    font-family: "Microsoft YaHei"
}

.main_login_forget .password input::-moz-placeholder, .main_login_forget .user input::-moz-input-placeholder, .main_login_forget .n_password input::-moz-placeholder, .main_login_forget .code input::-moz-input-placeholder {
    color: #d8d8da !important;
    /*Mozilla Firefox 19+ */
    font-family: "Microsoft YaHei"
}

.main_login_forget .password input::-ms-input-placeholder, .main_login_forget .user input::-ms-input-placeholder, .main_login_forget .n_password input::-ms-input-placeholder, .main_login_forget .code input::-ms-input-placeholder {
    color: #d8d8da !important;
    /*Internet Explorer 10+*/
    font-family: "Microsoft YaHei"
}

.main_login_forget .n_password span {
    float: right;
    font-size: 0.6rem;
    color: #a9a4a7;
    line-height: 2.2rem;
}

.main_login_forget .code span {
    float: right;
    font-size: 0.65rem;
    color: #fff;
    background: #37b4f1;
    margin: 0.3rem 0;
    padding: 0.4rem 5%;
    border-radius: 0.2rem;
    letter-spacing: 0.05rem;
}

.main_login_forget .enter {
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.9rem;
    color: #fff;
    border: 1px solid #37b4f1;
    background: #37b4f1;
    margin: 1rem auto 2rem auto;
    width: 80%;
    display: block;
    font-family: "Microsoft YaHei";
    letter-spacing: 0.2rem;
}

@media(min-width: 320px) and (max-width: 374px) {
    .main_login_forget .login {
        height: 2rem;
        line-height: 2rem;
        margin: 1.2rem auto 1rem auto;
    }
    .main_login_forget .register {
        height: 2rem;
        line-height: 2rem;
        margin: 0.8rem auto 1.6rem auto;
    }
}

@media(min-width: 414px) {
    .main_login_forget .register {
        margin: 1rem auto 3rem auto;
    }
}


/*********************************************************************
                            	注册
**********************************************************************/

.main_login_register {
    /*background: url(../../image/short/login/e9ff9a5fe75c2df2258627e5d7eb0850.jpeg) no-repeat;
    background-size: cover;
    overflow: hidden;*/
}

@media(min-width: 320px) and (max-width: 350px) {
    .main_login_register {
        width: 100%;
        /*height: 40rem;*/
    }
}

@media(min-width: 350px) and (max-width: 413px) {
    .main_login_register {
        width: 100%;
        /*height: 40rem;*/
    }
}

@media(min-width: 414px) {
    .main_login_register {
        width: 100%;
        /*height: 40rem;*/
    }
}

.main_login_register .head {
    height: 5.6rem;
    width: 5.6rem;
    overflow: hidden;
    background: #29b4f8;
    border-radius: 50%;
    margin: 2rem auto 0 auto;
    text-align: center;
    color: #fff;
    line-height: 2rem;
}

.main_login_register .head img {
    width: 100%;
}

.main_login_register .tip {
    text-align: center;
    color: #fff;
    line-height: 2rem;
    letter-spacing: 0.05rem;
}

.main_login_register .user, .main_login_register .code, .main_login_register .n_password, .main_login_register .password {
    height: 2rem;
    width: 80%;
    margin: 0.6rem auto;
    border-bottom: 1px solid #ebebeb;
    overflow: hidden;
}

.main_login_register .password {
    margin-bottom: 1.6rem;
}

.main_login_register .user .pic, .main_login_register .code .pic, .main_login_register .n_password .pic, .main_login_register .password .pic {
    float: left;
    height: 2rem;
    padding: 0 0.4rem 0 0.3rem;
}

.main_login_register .user .pic img, .main_login_register .code .pic img, .main_login_register .n_password .pic img, .main_login_register .password .pic img {
    display: block;
    width: 0.8rem;
    margin-top: 0.5rem;
}

.main_login_register .user input, .main_login_register .code input, .main_login_register .n_password input, .main_login_register .password input {
    float: left;
    border: none;
    font-size: 0.7rem;
    color: #ebebeb;
    background: none;
    line-height: 2rem;
    width: 45%;
}

.main_login_register .password input::-webkit-input-placeholder, .main_login_register .user input::-webkit-input-placeholder, .main_login_register .n_password input::-webkit-input-placeholder, .main_login_register .code input::-webkit-input-placeholder {
    color: #d8d8da !important;
    /*WebKit browsers*/
    font-family: "Microsoft YaHei"
}

.main_login_register .password input::-moz-placeholder, .main_login_register .user input::-moz-input-placeholder, .main_login_register .n_password input::-moz-placeholder, .main_login_register .code input::-moz-input-placeholder {
    color: #d8d8da !important;
    /*Mozilla Firefox 4 to 18 */
    font-family: "Microsoft YaHei"
}

.main_login_register .password input::-moz-placeholder, .main_login_register .user input::-moz-input-placeholder, .main_login_register .n_password input::-moz-placeholder, .main_login_register .code input::-moz-input-placeholder {
    color: #d8d8da !important;
    /*Mozilla Firefox 19+ */
    font-family: "Microsoft YaHei"
}

.main_login_register .password input::-ms-input-placeholder, .main_login_register .user input::-ms-input-placeholder, .main_login_register .n_password input::-ms-input-placeholder, .main_login_register .code input::-ms-input-placeholder {
    color: #d8d8da !important;
    /*Internet Explorer 10+*/
    font-family: "Microsoft YaHei"
}

.main_login_register .n_password span {
    float: right;
    font-size: 0.6rem;
    color: #a9a4a7;
    line-height: 2.2rem;
}

.main_login_register .code span {
    float: right;
    font-size: 0.65rem;
    color: #fff;
    background: #37b4f1;
    margin: 0.3rem 0;
    padding: 0.4rem 5%;
    border-radius: 0.2rem;
    letter-spacing: 0.05rem;
}

.main_login_register .enter {
    text-align: center;
    height: 2.2rem;
    line-height: 2.2rem;
    font-size: 0.9rem;
    color: #fff;
    border: 1px solid #37b4f1;
    background: #37b4f1;
    margin: 1rem auto 2rem auto;
    width: 80%;
    display: block;
    font-family: "Microsoft YaHei";
    letter-spacing: 0.15rem;
}

@media(min-width: 320px) and (max-width: 374px) {
    .main_login_register .login {
        height: 2rem;
        line-height: 2rem;
        margin: 1.2rem auto 1rem auto;
    }
    .main_login_register .register {
        height: 2rem;
        line-height: 2rem;
        margin: 0.8rem auto 1.6rem auto;
    }
}

@media(min-width: 414px) {
    .main_login_register .register {
        margin: 1rem auto 3rem auto;
    }
}
